.page-header
  %h1= "#{@title}"

%table.table.table-hover.table-bordered.table-condensed
  - @transactions.each do |person|
    %tr
      %td= person.from
      %td ska betala
      %td= person.to
      %td= person.amount

%h3.text-muted Balance

%table.table.table-hover.table-bordered.table-condensed.text-muted
  - @balances.each do |person|
    %tr
      %td= person.person
      %td= person.balance

%h3.text-muted All debts

%table.table.table-hover.table-bordered.table-condensed.text-muted
  %tbody
    -@debts.each do |debt|
      %tr
        %td= debt[:sharer]
        %td är skyldig
        %td= debt[:payer]
        %td= "#{debt[:amount].floor}"
